<!DOCTYPE html>
<html>

  {% include head.html %}

  <br>
  <br>
 
  <body>
 <section id="siteBanner" class="site-banner1">
  <br>
    <div class="titleBox">
      <h1 id="pageTitle" style="color:white; font-family:'Amatic SC';text-align:center;font-size:5.0em;float:left;letter-spacing:5px;"> {{page.title}}{{post.title}} </h1>
  </div>
  <br>
  <br>
  <br>

</section>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <section id="siteBannerBottom" class="site-banner1">
 <p style="font-family:'Amatic SC';font-size:1.75em;color:white;text-align:center;letter-spacing:4px;">© 2014 Ben Grider, all Rights Reserved.</p>
  <!--<h1 style="color:white; font-family:'Lobster';text-align:center;font-size:6.0vw;float:left;"> {{page.title}}{{post.title}} </h1>-->
</section>


  </body>

</html>
